body{
    /*display: flex;*/
    background-color: #fffffa;
    
}

header{
    
    width: 100%;
    height: 4rem;
    overflow: hidden;
    background: #252932;
    margin-bottom: 3rem;
}

header nav{
    float:right;
    border-top: 0rem;
}

header nav a{
   display: inline-block;
   color:#fff;
   text-decoration: none;
   padding: 0rem 0.5rem;
}

.centrar{
    width: 90%;
    margin:auto;
    max-width: 100rem;
    overflow: hidden;
    position: relative;		
	
}

.logo{
    color:#f2f2f2;
    font-size: 1rem;
    
    float: left;
}

.login{
    position: absolute;		
	top:30vh;
    left:35%;
    
    display:flex;
    background-color: rgb(49, 127, 146);
    
    flex-direction: column;
    justify-content: space-evenly;/*alinea como se justifican las columnas*/
    align-items: initial;   
    
    border-radius: 1rem;
    border: 2rem solid rgb(49, 127, 146);

    height: 15rem;
    width: 14rem;
}

.txt{
    border-radius: 1px; 
    margin-left: 1.9rem;
    margin-bottom: 1rem;   
}

.btn{
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
    font-size: 2rem;
    background-color: #ba1864;
    border-radius: 0.6rem;
    border: 0.2rem solid #a0259a;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.container{
    text-align:center;
    display:flex;
    width: 5rem;
    height: 30rem;
    background: yellowgreen;
    
    flex-direction: row;
    justify-content: space-evenly;/*alinea como se justifican las columnas*/
    align-items: flex-start;    

    border-right: blue 5px outset;
    border-left: red 5px solid;
    border-top: black 5px dashed;
    border-bottom: whitesmoke 5px dotted;
   /* margin-left: 5rem;*/
    margin-top: 5rem;
    margin-bottom: 2rem;
}