body{
    background-color:cadetblue;
}

button{
    background-color: cyan;
    border-radius: 0.5rem;
    width: 5rem;
    font: bold;
    margin-right: 5rem;
}

.btn{
    background-color: cyan;
    border-radius: 0.5rem;
    width: 10rem;
    font: bold;
    margin-right: 5rem;
    box-sizing: border-box;
    border-style: outset;
    border-color: buttonface;
}



#form{
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-direction:column;
}

select{
    width: 8rem;
}

#alumnoDiv{
display: block;
}

#profesorDiv{
    display: none;
}

input{
    width: 8rem;
}
h4{
    font: normal;
}